body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
img {
  margin-bottom: 30px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 70%;
  height: auto;
}
.ticButton .btn {
  height: 100px;
  margin-top: -23px;
  font-size: 50px;
  padding-top: 25px;
}
.card-panel {
  height: 2em;
  text-align: center;
  font-size: 20px;
  padding-top: 7px !important;
  height: auto;
  width: auto;
}

.status{
  margin: 20px;
}
.space {
  margin-left: 24.8% !important;
}
.left {
  margin-left: 17% !important;
}
/*--------------------*/
#pacman {
  background-color: black;
}

#zelda {
  background-color:  #CC9900;
}
